// colors

$snow-color: #ffffff;
$danger-color: #ff0d29;
$danger-dark-color: #dd4c5d;
$danger-light-color: #ffe4e4;
$dark-color: #000000;
$warn-color: #fce66f;
$azure-color: #0291c1;
$azure-light-color: #d6f5ff;
$gray-dark-color: #9b9b9b;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//

$font-family: "PT-Sans";
